.container {
  /* border: 1px solid grey;
  padding: 20px; */
  composes: section-container from './App.css';
}

.details-section {
  composes: details-section from './Storyline.css';
}
.keyword-section {
  composes: keyword-section from './Storyline.css';
}

.keyword-heading {
  composes: keyword-heading from './Storyline.css';
}

.heading { 
  composes: heading from './App.css';
}