.container {
  /* border: 1px solid grey;
  padding: 20px; */
  composes: section-container from './App.css';
}

.details-section {
  composes: details-section from './App.css';
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 0.05em solid grey;
  padding: 15px 0px 15px 0px;
}

.keyword-section {
  composes: keyword-section from './App.css';
}

.keyword-heading {
  composes: keyword-heading from './App.css';
}

.heading { 
  composes: heading from './App.css';
}

.footer-link {
  composes: footer-link from './App.css';
}