.container {
  /* border: 1px solid grey;
  padding: 20px; */
  composes: section-container from './App.css';
}

.details-section {
  composes: details-section from './App.css';
}

.keyword-section {
  composes: keyword-section from './App.css';
}

.keyword-heading {
  composes: keyword-heading from './App.css';
}

.heading { 
  composes: heading from './App.css';
}

.footer-link {
  composes: footer-link from './App.css';
}