:global(body) {
  background-color: #e3e2dd;
}

:global(p) {
  font-family: Verdana, Arial, sans-serif;
  color: #333;
  font-size: 13px;
  margin: 0.5em 0 0.75em;
  line-height: 140%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

:global(ul) {
  list-style: none;
  padding-left: 0px;
}

:global(li) {
  color: #666666;
  font-size: 13px;
  font-family: Verdana, Arial, sans-serif;
}

:local(.container) {
  display: flex;
  flex-direction: column;
  width: 700px;
  flex-shrink: 0;
  justify-content: flex-start;
  border-bottom: 0.5px dashed black;
  border-right: 2px solid grey;
  background-color: white;
}

:local(.root) {
  display: flex;
  justify-content: center;
}

:local(.heading) {
  /* padding: 0px 0px 0px 20px; */
  margin: 10px 0px 5px 0px;
  color: #424242;
  font: 24px Arial, sans-serif;
  font-weight: normal;
}

:local(.section-container) {
  border-bottom: 0.05em solid grey;
  padding: 20px;
}

:local(.details-section) {
  display: flex;
  align-items: center; 
  overflow: hidden;
}

:local(.keyword-section) {
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 15px;
  overflow: hidden;
}

:local(.keyword-heading) {
  color: #666666;
  font-size: 13px;
  font-weight: bold;
  font-family: Verdana, Arial, sans-serif;
  margin: 7px 0px 0px 0px;
}

:local(.footer-link) {
  
}