:local(.container) {
  composes: section-container from './App.css';
}

:local(.cast-list-container) {
  display: flex;
  flex-direction: column;
}

:local(.cast-list-container div:nth-child(odd)) {
  background-color: #eeeeee;
}

:local(.heading) { 
  composes: heading from './App.css';
}

:local(.footer-link) {
  composes: footer-link from './App.css';
}