:local(.container) {
  /* border: 1px solid grey; */
  /* padding: 20px; */
  composes: section-container from './App.css';
}

:local(.tagline) {
  margin: 5px 0px 0px 15px;
  font-family: Verdana, Arial, sans-serif;
  color: #333;
  font-size: 13px;
}

:local(.header) {
  display: flex;
  justify-content: space-between;
}

:local(.heading) {
  composes: heading from './App.css';
}

:local(.details-section) {
  composes: details-section from './App.css'; 
}
:local(.keyword-section) {
  composes: keyword-section from './App.css';
}
:local(.keyword-heading) {
  composes: keyword-heading from './App.css';
}