.container {
  /* border: 1px solid grey; */
  composes: section-container from './App.css';
}

.heading {
  composes: heading from './App.css';
}

.photos-container {
  display: flex;
  overflow: hidden;
}

.photo {
  width: 99px;
  height: 99px;
  margin: 0px 3px 0px 0px;
}

.footer-link {
  composes: footer-link from './App.css';
}

